#greetings_body {
   width: 100%;
   padding: 1em 0;
}

.fullfield {
    width: 350px;
}
.greeting_select{
    border: 1px solid #CCCCCC;
    padding: 1px 0;
}
#add_table_greeting{width:500px;}
#add_table_greeting td {
    padding: 0 0 5px;
}

.name_field_greeting{}
#add_addr_link{padding: 5px 0 15px 0;}

.novalid {
    color: red;
    font-size: 11px;
}

.novalidfield {
    border: 1px solid red !important;
}

/* Оформление таблицы поздравлений */
table.list_greetings{
    margin-bottom: 15px;
    padding: 0;
    width: 100%;
}
.list_greetings td {
    padding: 8px 10px;
}

/*чередующийся фон для каждого поздравления*/
.bg_dark td {
    background-color: #f1f1f1;
}
.bg_light td {
    background-color: #fff;
}

#greeting_image{vertical-align: top; width:90px;}
#greeting_text{vertical-align: top;}


.text_name {
    font-size: 1.27em;
}
.greeting_date{font-size:12px;color: #888;}
.greeting_mess{}

.greeting_author{
    font-weight:bold;
}

.gray_light {color: #888;}
.g_item_edit{}
.g_item_delete{}
.greetings_remote {
    display: inline-block;
    font-size: 12px;
    padding: 5px 0;
}
.greetings_remote .editlinks a {
    color:#999;
}
.greetings_remote .editlinks a:hover {
    color: #333;
}
#collection_link{margin:0 0 10px 0}
#greetings_image{margin:0 0 10px 0}
#select_image{margin:0 0 10px 0}
#user_image{margin:0 0 10px 0}
#file_tipes{font-size:11px;color:#666;}


/* Классы модуля */

.mod_greeting_date {
    color: #888888;
    font-size: 12px;
}
.mod_greeting_mess{}
.mod_greeting_author {
    font-weight: bold;
}
.mod_greetings_all {
    background: url("../images/icons/comments.png") no-repeat scroll 0 0 transparent;
    color: #333333;
    padding: 1px 1px 1px 20px;
}

.mod_greetings_addlink{padding:5px 0;display:block;text-align: right;}

#greeting_preloader {
    background: url("/modules/mod_greetings/images/loader.gif") no-repeat scroll 0 0 transparent;
    padding-left: 25px;
    height: 20px;
}
#mod_greetings_add{}
#add_greetingform{margin: 0 0 10px 0;}
.mod_greeting_textarea{width:260px;height:80px;}
.mod_greeting_title{width:260px;}
#mod_file_tipes{font-size:11px;color:#666;}
.mod_greetings_errors{font-size:11px;color:red;}
.mod_greetings_success{font-size:11px;color:green;}

div.greetings_details span, p.gr_item_date {
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    padding: 2px 10px 2px 18px;
}
p.gr_item_date{
    background:url(../images/icons/calendar.png) no-repeat;
}
span.gr_item_edit{
    background:url(../images/icons/edit.png) no-repeat;
}

span.gr_item_delete{
    background:url(../images/icons/no.png) no-repeat;
}
span.gr_item_publish{
    background:url(../images/icons/yes.png) no-repeat;
}

div.greetings_details a{
    color:#666666;
}

#feedback { font-size: 1.4em; }
#selectable .ui-selecting { }
#selectable li.ui-selected { border:3px solid #FECA40 !important;}
#selectable .ui-state-default {border:3px solid #fff;cursor:pointer;}
#selectable { list-style-type: none; margin: 0; padding: 0; }
#selectable li { margin: 3px; padding: 1px; float: left; text-align: center; overflow: hidden;}